h1 {
	font-family: 'Sancreek', cursive;
	font-size: 75px;
}

table {
	font-family: 'Averia Serif Libre', cursive;
}

h3 {
	font-family: 'Averia Serif Libre', cursive;
}

label {
	font-family: 'Averia Serif Libre', cursive;
}

button {
	font-family: 'Averia Serif Libre', cursive;
}